.mealStyle  {
    min-height: 90px;
    height: auto;
    width: 180px;
    cursor: pointer;
}

.dayStyle {
    border: 1px solid #979797;
    margin-bottom: 100px;
}

.dayStyle:hover {
    background-color: rgba(105, 105, 105, 0.1);
}

.mealNameStyle {
    background-color: #96dbc8;
    padding: 5px;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
}

.mealNameStyle > p {
    margin: none;
}