#logo {
    width: 250px;
    height: 100px;
    text-align:center;
    border:none;
    box-shadow: none;
    margin:auto;
    background-color: #DEDEDE;

}

.logoSpace {
    /*padding-top: 26px;*/
    text-align: center;
}

.options img {
    width: 250px;
    height: 250px;
}

.cosic {
    padding-top: 30vh;
}

.ButtonGo {
    background-color: #267E74;
    background-image: none;
    border-color: #267E74;
}
.ButtonGo:hover {
    background-color: #1e685f;
}
.ButtonGo:focus {
    background-color: #1e685f;
}
.ButtonGo:active {
    background-color: #1e685f;
}
