.instruction {
    text-align: center;
}

.dashboardBlock {
    text-align: center;
    background-color: #DEDEDE;

}

.dashboardBlock:hover {
    border: #1e685f solid 2px;
}

.instructionDescription {
    padding-bottom: 5vh;
}

#logo {
    width: 200px;
    height: 80px;
    text-align: center;
    border: none;
    box-shadow: none;
    margin: auto;
    padding-top: 0.5vh;
    padding-bottom: 15vh;
    background-color: #DEDEDE;

}

.logoSpace {
    /*padding-top: 26px;*/
    text-align: center;
}

.options img {
    width: 250px;
    height: 250px;
}

.cosic {
    padding-top: 30vh;
}

.ButtonGo {
    background-color: #267E74;
    background-image: none;
    border-color: #267E74;
}

.ButtonGo:hover {
    background-color: #1e685f;
}

.ButtonGo:focus {
    background-color: #1e685f;
}

.ButtonGo:active {
    background-color: #1e685f;
}

@media screen and (max-width: 768px) {
    #logo {
        float: right;
    }
}

.lista a {
    color: #000;
}

.listEffect {
    background-color: #267E74;
    color: #fff;
}

#fbButton {
    max-width: 150px ;
    /*height: 46px;*/
    border: none;
    border-radius: 6px;
}

.btn-default {
    background-image: none;
    background-color: #dedede;
    border: none;
    padding: 0;
}

